@{
    ViewData["Title"] = "Workouts";
}

<h1 class="pageTitle">Workouts</h1>

<div class="wrapItems">
    <a asp-controller="Workout" asp-action="Create" style="width: 50%">
        <button class="crudButton create add" title="Create a new Workout"><i class="bi bi-plus-circle"></i></button>
    </a>
    @foreach (Workout workout in ViewBag.Workouts)
    {
        <div class="item">
            <div>
                <h2>@workout.Name</h2>
                <ul class="wrapSubItem">
                    @foreach (WorkoutExercise workoutExercise in workout.WorkoutExercises)
                    {
                        <a asp-controller="Exercise" asp-action="Details" asp-route-id="@workoutExercise.Exercise.Id"><li class="subItem">@workoutExercise.Exercise.Name</li></a>
                    }
                </ul>
            </div>
            <div class="itemButtons">
                <a asp-controller="Workout" asp-action="Edit" asp-route-id="@workout.Id"><button class="crudButton edit"><i class="bi bi-pencil"></i></button></a>
                <a asp-controller="Workout" asp-action="Delete" asp-route-id="@workout.Id"><button class="crudButton delete"><i class="bi bi-trash"></i></button></a>
            </div>
        </div>
    }
</div>